<div class="w-full max-w-lg mx-auto">
  <h1 class="text-2xl font-bold mb-4 text-white">タスクの作成</h1>
  
  <%= render "form", task: @task %>

  <div class="mt-4">
    <%= link_to "戻る", tasks_path, class: "text-blue-400 hover:text-blue-300 transition" %>
  </div>
</div>
