<header class="bg-gray-800 border-b border-gray-700 sticky top-0 z-50">
  <div class="container mx-auto px-5 h-16 flex items-center justify-between">
    <%= link_to "Rainbow Todo", root_path, class: "text-xl font-bold text-white hover:text-blue-500 transition" %>
  </div>
</header>
